node_modules/
dist/
coverage/
.env
.env.*
!.env.example
.DS_Store
*.log
.vscode/
.idea/

_check/
*.zip

# Prisma
prisma/*.db
prisma/*.db-journal

# Testing
test-results/
playwright-report/

# Build
build/
*.tsbuildinfo
# CI Re-run
